<body>
  <div class="container">
    <div style="position:fixed; right: 70px; bottom:70px;">
      <br>
      <button type="button" class="btn btn-default" onclick="location.href='https://sch0906-toomy0toons-2.c9.io/question/new'">
        <h4><span class="glyphicon glyphicon-pencil" aria-hidden="true">질문작성하기</span></h4>
      </button>
    </div>
    <br>
    <br>
    <br>
    
    <% @questions.each do |i| %>
    <div class="container">
      <div class="form-style-5">
        <fieldset>
          <h6><span class="glyphicon glyphicon-list-alt"></span><div class="form-style-6">&nbsp;<%=i.title%></div></h6>
          <h6><span class="glyphicon glyphicon-user"></span><div class="form-style-6">&nbsp;<%=i.writer%></div></h6>
          <h6><span class="glyphicon glyphicon-paperclip"></span><div class="form-style-6">&nbsp;<img src="<%=i.image.url%>" width="500px"></div></h6>
          <h6><span class="glyphicon glyphicon-blackboard"></span><div class="form-style-6">&nbsp;<%=i.description%></div></h6>
          <h6><span class="glyphicon glyphicon-tags"></span><div class="form-style-6">&nbsp;<%=i.tag%></div></h6>
          <h6>
            <div align="right">
              <form action="/question/upvote" type="POST">
                <input type="hidden" name="question_id" value="<%=i.id %>">
                &nbsp;<%=i.total_votes%>명이 좋아합니다
                <br>
                <button type="submit" class="btn btn-default" value="like">
                  <i class="glyphicon glyphicon-thumbs-up">좋아요</i>
                </button>
              </form>
            </div>
          </h6>
          
          <button type="submit" class="btn btn-default" onclick="location.href='https://sch0906-toomy0toons-2.c9.io/question/modify/<%=i.id%>'">
            <i class="glyphicon glyphicon-edit">수정</i>
          </button>
        
          <button type="submit" class="btn btn-default" onclick="location.href='https://sch0906-toomy0toons-2.c9.io/question/delete/<%=i.id%>'">
            <i class="glyphicon glyphicon-erase">삭제</i>
          </button>
          
          <button class="btn btn-default" data-toggle="collapse" data-target="#<%=i.id%>comment">
            <span class="glyphicon glyphicon-comment"></span>댓글달기
          </button>

          <div id="<%=i.id%>comment" class="collapse">
          <%=i.id%>comment
          </div>
          
          
        </fieldset>
      </div>
    </div>
    <% end %>
    <br>
    <hr>
    <%= render "/home/footer" %>
  </div>
</body>
