<body>
  <div class="container">
    <div style="position:fixed; right: 70px; bottom:70px;">
      <br>
      <button type="button" class="btn btn-default" onclick="location.href='https://sch0906-toomy0toons-2.c9.io/question/new'">
        <h4><span class="glyphicon glyphicon-pencil" aria-hidden="true">질문작성하기</span></h4>
      </button>
    </div>
    <br>
    <br>
    <br>
    
    <% @questions.each do |i| %>
    <div class="container">
      <div class="form-style-7">
        <fieldset>
          <table class="type05">
            <legend<tr>
              <th scope="row">제목</th>
              <td><%=i.title%></td>
            </tr>
            <tr>
              <th scope="row">글쓴이</th>
              <td><%=i.writer%></td>
            </tr>
            <tr>
              <th scope="row">첨부 이미지</th>
              <td><img src="<%=i.image.url%>" width="500px"></td>
            </tr>
            <tr>
              <th scope="row">설명</th>
              <td><%=i.description%></td>
            </tr>
            <tr>
              <th scope="row">태그</th>
              <td><%=i.tag%></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><%=i.total_votes%> 명이 좋아합니다</td>
            </tr>
            <tr>
              <td>
                <button type="submit" class="btn btn-default" onclick="location.href='https://sch0906-toomy0toons-2.c9.io/question/modify/<%=i.id%>'">
                  <i class="glyphicon glyphicon-edit">수정</i>
                </button>
              </td>
              <td>
                <button type="submit" class="btn btn-default" onclick="location.href='https://sch0906-toomy0toons-2.c9.io/question/delete/<%=i.id%>'">
                  <i class="glyphicon glyphicon-erase">삭제</i>
                </button>
              </td>
              <td>
                <form action="/question/upvote" type="POST">
                  <input type="hidden" name="question_id" value="<%=i.id %>">
                  <input type="hidden" name="user_name" value="<%=current_user.email%>">
                  <button type="submit" class="btn btn-default" style="background-color:#b3eee1" value="like">
                    <i class="glyphicon glyphicon-thumbs-up">좋아요</i>
                  </button>  
                  <br>
                </form>
              </td>
            </tr>
            <br>
          </table>
        </fieldset>
      </div>
    </div>
    <% end %>
    <br>
    <hr>
    <%= render "/home/footer" %>
  </div>
</body>
