<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!--devise gem-->
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <title>당신의 밑그림을 그리다 - 수채화</title>
  
  <!-- 부트스트랩 -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- 탭 아이콘 -->
  <!--link rel="shortcut icon" href="http://4.bp.blogspot.com/-Fq7ablmxONI/UmnmRnhkETI/AAAAAAAABWo/MtJBgP2sCfs/s320/favicon-facebook_normal.png">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon"-->
  
  <!-- 탭 아이콘 -->
  <link rel="apple-touch-icon" sizes="60x60" href="/tabicon.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/tabicon.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/tabicon.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/tabicon.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/tabicon.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/tabicon.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/tabicon.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/tabicon.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/tabicon.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/tabicon.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/tabicon.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/tabicon.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/tabicon.ico/favicon-16x16.png">
  <link rel="manifest" href="/tabicon.ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/tabicon.ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  
  <!--login/sign_upmodal-->
  

  
</head>

<body>

<%= yield %>

</body>
</html>